#PALETA_DE_COLORES {
  color: #120907 #122a40 #145f87 #209ed8 #20dbd8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  padding-top: 90px;
}

html{
  scroll-behavior: smooth;
}

/* #region HEADER */
#logo {
  height: 60px;
  width: 60px;
  display: flex;
}

#contacto {
  height: 60px;
  width: 80px;
  display: flex;
}

#contacto:hover {
  background-color: #145f87;
  border-radius: 10px;
  transition: 300ms ease;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #120907;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  background: #122a40;

  position: fixed;
  width: 100%;
  z-index: 1000;
}

#contacto > img {
  width: auto;
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  padding: 1rem 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

nav li:hover {
  background-color: #145f87;
  border-radius: 10px;
  transition: 500ms ease;
}

/* #endregion HEADER */

/* #region HOME BANNER */
.home-banner-container {
  height: 50%;
  display: flex;
  background-color: #120907;
  border-radius: 50px;
  box-shadow: 1em 1em 2em #145f87, -1em -1em 2em #145f87, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.home-banner{
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 20px;
  box-shadow: 1em 1em 2em #145f87, -1em -1em 2em #145f87, inset 0 0 0 transparent, inset 0 0 0 transparent;
  border-radius: 50px;
  text-align: center;
}

.home-banner h1{
  font-size: 50px;
  margin-bottom: 2rem;
}

.home-banner p{
  text-align: center;
  font-size: larger;
}

/* #endregion */

/* #region Section */
section {
  scroll-margin-top: 90px;
  padding: 45px 90px;
  border: 1px dashed #122a40;
}

section > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: 5px solid #209ed8;
  margin-bottom: 2rem;
  color: white;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("../img/Home_Banner.webp") no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
}

/* #endregion */

/* #region Reseñas */
.comments-container {
  border-radius: 10px;
  background-color: #122a40;
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  border-radius: 5px;
  background-color: #145f87;
  font-size: 36px;
  color: white;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: "";
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}
.reply-list li:before {
  content: "";
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}
.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

/* #endregion */

/* #region Top Mejores Juegos */
.table-header {
  width: 100%;
  height: 10%;
  background-color: #120907;
  padding: 0.8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header .input-group {
  width: 35%;
  height: 100%;
  background-color: #122a40;
  padding: 0 0.8rem;
  border-radius: 2rem;

  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s;
}

.table-header .input-group:hover {
  width: 40%;
  color: white;
  background-color: black;
  box-shadow: 0 0.1rem 0.4rem #120907;
}

.table-header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table-header .input-group input {
  width: 100%;
  padding: 1rem 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

#table-body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #122a40;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

#table-body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#table-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #122a40;
  visibility: hidden;
}

#table-body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 60px;
  height: 60px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: static;
  top: 0;
  left: 0;
  background-color: #145f87;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #209ed8;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;

  text-align: center;
  font-size: 1rem;

  margin-left: 0.5rem;
  transition: 0.2s ease-in-out;
}

thead th:hover span.icon-arrow {
  border: 1.4px solid #20dbd8;
}

thead th:hover {
  color: #20dbd8;
}

thead th.active span.icon-arrow {
  background-color: #20dbd8;
  color: #fff;
}

thead th.asc span.icon-arrow {
  transform: rotate(180deg);
}

thead th.active,
tbody td.active {
  color: #20dbd8;
}

.star {
  color: gold;
  font-size: 1.5rem;
}

/* #endregion */

/* #region Proximos eventos */

li{
  list-style-type: none;
}

.card-container{
  display: flex;
  padding: 2em;
  color: white;
  transition: all 0.4s ease;
  border-radius: 50px;
  background-color: #122a40;
  box-shadow: 1em 1em 2em #145f87, -1em -1em 2em #145f87, inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}


.card {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-container img {
  width: 100%;
  transition: all 0.4s ease;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1em 1em 2em #209ed8, -1em -1em 2em #209ed8, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.card h3{
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card p{
  margin-bottom: 1rem;
}

button.btn,
a.button-link {
  cursor: pointer;
  background-color: #145f87;
  color: white;
  font-size: 1.25rem;
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  border: none;
  border-radius: 21px;
  transition: color 0.5s;
}

a.button-link {
  display: inline;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

button.btn:hover,
a.button-link:hover {
  background-color: #209ed8;
}

/* #endregion */

/* #region FOOTER */
footer {
  background: #122a40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-align: center;
  width: 300px;
}

.RedesSociales {
  text-align: center;
  margin-left: 2rem;
  margin-bottom: auto;
}

.RedesSociales a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #209ed8;
  margin: 0 15px 10px 0;
  margin-top: 4rem;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

.RedesSociales a:hover {
  color: #209ed8;
  background-color: white;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input {
  background-color: transparent;
  padding: 15px;
  outline: #145f87;
  border: 2px solid #209ed8;
  font-size: 17px;
  margin-bottom: 15px;
  color: white;
}

::placeholder {
  color: #209ed8;
}

.btn-Enviar-Formulario {
  background-color: #209ed8;
  color: white;
  border: 0;
}

.btn-Enviar-Formulario:hover {
  color: #209ed8;
  background-color: white;
  cursor: pointer;
}

#btn-ir-arriba {
  cursor: pointer;
  display: fixed;
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: #209ed8;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;

  box-shadow: 0px 12px 7px rgba(0, 0, 0, 0.1);
  transition: 300ms ease;
}

#btn-ir-arriba:hover {
  background: #145f87;
  transform: translateY(-0.5rem);
}

#btn-ir-arriba svg {
  stroke: white;
  stroke-width: 3px;
  width: 25px;
  fill: none;
}

/* #endregion */
